/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
}
svg{
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
/* header */
/* menu */
.navigazione{
    display: flex;
    width: 100%;
}
.navigazione div{
    -ms-flex: 1; 
    flex: 1;
}
.menu-left{
    width: 50%;
    left: 0;
}
#logo{
    float: left;
}
.menu-right{
    width: 50%;
    right: 0;
    text-align:right;
}
li{
    list-style-type: none;
}
ul li{
    display: inline-block;
}
.nav-right{
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1000;
}
.nav-left{
    position: fixed;
    left: 10px;
    z-index: 1000;
}
nav li a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 20px;
    text-align: center;
    line-height: 50px;
}
nav li a:hover{
    
}
.container{
    width: 80%;
}
main{
    width: 100%;
}

.clearfix:after{
    content: '';
    display:table;
    clear: both;
}

/* jumbotron     ! togliere le altezze dopo aver inserito i contenuti */
.jumbotron{
    width: 100%;
    height: 85vh;      
    background-color: #B3D0E7;
    position: relative
}
.jumbotron-titolo h1{
    width: 80%;
    font-size: 4em;
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: top left;
    
}

.jumbotron-container{
    width: 25%;
    padding-top: 0px;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-0%,-15%);
    transform-origin: top left;
    /* background-color: orange; */
    margin-left: 0;
   
    /* background-color: lightcoral;  */
}

 p{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2vh;
    font-weight: 500;
    /* background-color: aqua; */
     
}
.jumbotron-container a:only-child {
    background-color: #0160FF;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
    padding-right: 24px;
}
#freccia-down{
    font-size: 6vh;
    position: absolute;
    margin-top: -30px;
}
.jumbotron-left{
    width: 54%;
    padding-top: 0px;
    position: absolute;
    top: 55%;
    right: 6%;
    transform: translate(-5%,-15%);
    transform-origin: top left;
    margin-left: 0; 
    /* background-color: rgb(128, 240, 160);  */
}
.jumbotron-left img{
    width: 100%;
}

.container{
    width: 70%;
    position: relative;
   
    margin: 0 auto;
    display: flex;
}

.circle{
    content: "";
    border: solid 2px lightslategray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    line-height: 10px;
}
.prima h2{
    padding-top: 20vh;
    font-size: 2.2em;
}
.prima p{
    left: 0;
    float: 1;
}
.circle{
    display: inline-block;
}
.mensile{
    display: inline-block;
    padding-right: 10px;
    font-size: 1em;
}

/* box */
#main-seconda{
    padding: 0;
}
#box{
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 100%; 
}

.col{
    float: left;
    width: calc ( (100% / 3) - 40px);
    margin: - 60px;
    width: 0 60px;
}
#col-left{
    border: solid lightgray 1px;
    padding-bottom: 100px;
    
}
#col-central{
    border: solid lightgray 1px;
    padding-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
#col-right{
    border: solid lightgrey 1px;
    padding-bottom: 100px;
}
#box div{
    -ms-flex: 1; 
    flex: 1;
}
#main-seconda span{
    display: block;
}
.prima :only-child{
    text-align: left;
    
}
#banner-secondo{
    width: 100%;
    padding-left: 50px;
    padding-right: 30px;
    border: solid 1px lightgray;
    position: relative;
}
h3{
    display: inline;
}
#Contatta{
    text-align: right;
    display: inline;
    right: 0;
    padding-right: 5%;
    position: absolute;
}
#img-testo img{
    width: 100%;    
}
#text-right{
    width: 80%;
    text-align: left;
    display: inline;
    padding: 5%;
}
#main-quinta h2{
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-size: 2.2em;
}
#griglia{
    margin: 0 auto;
    text-align: lwft;
    display: flex;
    width: 100%;
}
.griglia{
    float: left;
    width: calc ( (100% / 3) - 40px);
    margin: - 60px;
    width: 0 60px;
}
#main-sesta img{
    display: block;
    width: 100%;
}
#griglia div{
    -ms-flex: 1; 
    flex: 1;
}
#col{
    padding-bottom: 5vh;
    margin-left: 40px;
    margin-right: 40px;
}
.main-settima {
    width: 70%;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
 h2{
    font-size: 2.2em;
}
/* /quarto banner */

/* main-ottava */

/* banner con quadrati */
#main-ottava{
    width: 100%;
    padding: 0;
}
#quadrati-left{
    width: 20%;
    height: 20%;
    background-color: aqua;
    display: inline;
}
svg{
    color: white;
}
footer li{
    padding-right: 5vw;
    display: block;
    color: white;
    margin: 0 auto;
    background-color: black;
    line-height: 2em;
}
footer ul {
    float: left;
    padding-top: 10vh;
}
li h4{
    padding-bottom: 3vh;
}
footer{
    background-color: black;
}
.footer{
    width: 70%;
    margin: 0 auto;
    background-color: black;
}
#main-nona{
    width: 100%;
    background-color: #B3D0E7;
}
.ottava{
    width: 70%;
    margin: 0 auto;
    color: #61092B;
    background-color: #B3D0E7;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.ottava h2{
    width: 70%;
}
















  